[submodule "deps/onion-datetime"]
	path = deps/onion-datetime
	url = https://github.com/nicolas-vtn/onion-datetime.git
[submodule "deps/onion-event"]
	path = deps/onion-event
	url = https://github.com/nicolas-vtn/onion-event.git
[submodule "deps/onion-logger"]
	path = deps/onion-logger
	url = https://github.com/nicolas-vtn/onion-logger.git
[submodule "deps/onion-timer"]
	path = deps/onion-timer
	url = https://github.com/nicolas-vtn/onion-timer.git
[submodule "deps/onion-threadpool"]
	path = deps/onion-threadpool
	url = https://github.com/nicolas-vtn/onion-threadpool.git
[submodule "deps/onion-threadsafequeue"]
	path = deps/onion-threadsafequeue
	url = https://github.com/nicolas-vtn/onion-threadsafequeue.git
